.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path}= Rails.application.class.parent_name
    .navbar-collapse.collapse
      %form.navbar-form.navbar-left{role: "search"}
        %input.form-control.user-search-bar{placeholder: "Search", type: "text"}
      %ul.nav.navbar-nav.navbar-right
        - if controller.current_user
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              = "@#{controller.current_user.github_id}"
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Profile", user_path(controller.current_user.github_id)
              %li
                = link_to "Account", edit_user_path(controller.current_user.github_id)
              %li
                = link_to "Sessions", sessions_path
              %li
                = link_to "Sign out", sessions_path, method: :delete
        - else
          %li
            %a{href: signin_path}
              %img.signin-icon
              Sign in